/* CSS Code */
:root {
    background-image: url('XO pic.jpeg');
}
/* Heading */
h1 {
    margin: 30px auto;
    text-align: center;
    color: whitesmoke;
    font-size: 8em;
    transition: 0.5s;
    font-family:  Arial, Helvetica, sans-serif;
}

h1:hover {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
        0 3px 0 #ccc, 0 4px 0 #ccc,
        0 5px 0 #ccc, 0 6px 0 #ccc,
        0 7px 0 #ccc, 0 8px 0 #ccc,
        0 9px 0 #ccc, 0 10px 0 #ccc,
        0 11px 0 #ccc, 0 12px 0 #ccc,
        0 20px 30px rgba(0, 0, 0, 0.5);
}

/* 3*3 Grid */
#b1, #b2, #b3, #b4, #b5,
#b6, #b7, #b8, #b9 {
    background: rgba(240,180,135,1);
box-shadow: inset -1px 1px 7px rgba(0,0,0,.2), inset 1px -1px 7px rgba(0,0,0,.2), 1px 12px 5px rgba(0,0,0,.4), 4px 3px 8px rgba(0,0,0,.4), 5px 10px 10px rgba(0,0,0,.2), -5px 10px 10px rgba(0,0,0,.4);
position: relative;
border-radius: 10px;
width: 200px;
height: 100px;
margin: auto;
padding: 40px 0 0;
text-align: center;
font-size: 80px;
color: whitesmoke;
}


/* Reset Button */
#but {
    box-sizing: border-box;
    width: 95px;
    height: 40px;
    border: 1px solid rgba(240,180,135,1);
    margin: auto;
    border-radius: 4px;
    font-family: Verdana,
        Geneva, Tahoma, sans-serif;

    background-color: rgba(240,180,135,1);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* Player turn space */
#print {
    font-family: Verdana,
        Geneva, Tahoma, sans-serif;

    color: whitesmoke;
    font-size: 50px;
}

/* Main Container */
#main {
    text-align: center;
    font-size: 20px;
}

/* Game Instruction Text */
#ins {
    font-family: Verdana,
        Geneva, Tahoma, sans-serif;
        
    color: whitesmoke;
    font-size: 25px;
}

/* Footer */
#first{
    display: flex;
    justify-content: space-evenly;
}
footer {
    color: rgb(255, 225, 169);
    font-size: 25px;
    /* display: flex; */
  
    padding: 2rem;
    background: var(--main-gray);
    border-top: 4px solid var(--main-red);
    position: relative;
}
  
footer > p {
    margin: 2rem;
}

#copy{
    display: none;
}
footer i {
    vertical-align: middle;
}

@media only screen and (max-width: 638px){
    #b1, #b2, #b3, #b4, #b5,
#b6, #b7, #b8, #b9 {
        width: 7rem;
        height: 6rem;
        font-size: 60px;
        text-align: center;
        /* background-color: #000; */
    }

    #first{
        display: none;
    }

    #copy{
        display: flex;
        justify-content: space-evenly;
        mar
    }
}

@media only screen and (max-width: 374px) {
        #b1, #b2, #b3, #b4, #b5,
    #b6, #b7, #b8, #b9 {
            width: 4rem;
            height: 3rem;
            font-size: 50px;
            text-align: center;
            /* background-color: #000; */
        }
}

@media only screen and (max-width: 230px){
    #b1, #b2, #b3, #b4, #b5,
#b6, #b7, #b8, #b9 {
        width: 2rem;
        height: 1rem;
        font-size: 30px;
        text-align: center;
        /* background-color: #000; */
    }
}
